<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppInstalls</key>
	<array>
		<dict>
			<key>appDisplayName</key>
			<string>macOS\ Settings</string>
			<key>appIcon</key>
			<string>/System/Applications/System\ Settings.app</string>
			<key>appName</key>
			<string>System\ Settings</string>
		</dict>
		<dict>
			<key>appDisplayName</key>
			<string>Notes/ App</string>
			<key>appIcon</key>
			<string>/System/Applications/Notes.app</string>
			<key>appName</key>
			<string>Notes</string>
		</dict>
		<dict>
			<key>appDisplayName</key>
			<string>Chrome</string>
			<key>appIcon</key>
			<string>/System/Applications/Google\ Chrome.app</string>
			<key>appName</key>
			<string>Google\ Chrome</string>
		</dict>
	</array>
	<key>plistPref</key>
	<string>My name is Apple</string>
</dict>
</plist>
